body{
    background-image: url("../images/background.png");
    color: white;
}
a{
    color: white;
}

.project_list ul{
    color:white;
    margin: 25px;
    font-style: italic;
    font-size: x-large;
}

.project_list ul li{
    font-size: small;
}

.about_me{
    color: khaki;
    margin: 35px;
    font-style:oblique;
}