body{
    background-image: url("../images/background.png");
    color: white;
}
.about_me a {
    color: rgb(188, 240, 140);
}
li a{
    color: white;
}

.project_list{
    margin-top:105px;
}

.project_list p{
    font-size: xx-large;
    margin:30px;
}

.project_list ul{
    color:white;
    margin: 25px;
    font-style: italic;
    font-size: x-large;
    clear: left;
}

.project_list ul li{
    font-size: small;
}

.about_me{
    color: khaki;
    margin: 35px;
    margin-right: 250px;
    font-style:oblique;
    font-size:large;
}

#myPhoto{
    width:150px;
    height:150px;
    float: left;
}

.photo{
    position: absolute;
    margin:auto;
    right:50px;
    top: 50px;
    clear:left;
}